# Python bytecode files
*.pyc
*.pyo
__pycache__/
.pytest_cache/

# Virtual environment
venv/

# Environment variables & secrets
.env

# Database files
*.db

# Log files
*.log

# OS-specific files
.DS_Store  # For macOS
Thumbs.db  # For Windows

# Environment variables
.env
*.env

# IDE/editor specific files
.vscode/
.idea/

# Other files to exclude
*.sqlite3

